<atex-card class="example-card">
  <atex-card-header>
    <div atex-card-avatar class="example-header-image"></div>
    <atex-card-title> Shiba Inu </atex-card-title>
    <atex-card-subtitle> Dog Breed </atex-card-subtitle>
  </atex-card-header>
  <img atex-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Picture of Shiba Inu">
  <atex-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </atex-card-content>
</atex-card>
<router-outlet></router-outlet>
